DB_USER = "your_database_username"
DB_PASS = "your_database_password"
WEATHER_API_KEY = "your_weather_api_key"
DB_LOCAL_URL = "mongodb://localhost:27017/"
DB_SERVER_URL = "ATLAS_URL"
DB_NAME = "Taipower-predict-db"
GENERATING_UNITS_DATA = "https://service.taipower.com.tw/data/opendata/apply/file/d006001/001.json"
RESERVE_API_URL = "https://www.taipower.com.tw/d006/loadGraph/loadGraph/data/reserve.csv"

